ion-content {
  background: linear-gradient(to bottom, #ffffff, #ffffff, #f2652d);
}
h2 {
  color: #8ec73d;
  text-align:center;
}
h4 {
  text-align: center;
}
h5 {
  text-align: center;
}
p {
  text-align:center;
}
ion-item {
  background: #cefff0;
}